*{
	margin: 0;
	padding: 0;
}

body{
	background: #E8E8E8;
}

.cabecalho{
	background: #0082c7;
}

.cartao{
	background: #EBEF40;
	margin: 16px;
	padding: 16px;
	opacity: 1;
}

.container{
	padding: 0 10%;
}

#mudaLayout{
	display: none;
}

.mural--linhas{
	flex-direction:column;
}

.mural--linhas .cartao{
	flex-basis:auto;
	width: auto;
	display: block;
}

.cartao--some {
	opacity: 0;
	transition: 0.2s ease-in;
}

@media (min-width: 560px){
	.cartao{
		width: 190px;
		display: inline-block;
		box-sizing: border-box;
		text-align: left;
		flex-basis:190px;
		flex-grow:1;
	}
	
	.mural{
		text-align: center;
		display: flex;
		flex-wrap: wrap;
	}

	#mudaLayout{
		display: inline-block;
	}

	.cartao--textoPequeno{
		font-size: 1em;
		width: 11em;
		flex-basis:11em;
	}

	.cartao--textoMedio{
		font-size: 1.5em;
		width: 9em;
		flex-basis:9em;
	}

	.cartao--textoGrande{
		font-size: 2em;
		width: 6em;
		flex-basis:6em;
	}
}

.mural{
	font-size: 1.2em;
}

@media(min-width: 610px){

	.mural{
		align-items:flex-start;
	}
}

@media(min-width: 900px){

	.mural{
		align-items: center;
		font-size: 1.3rem;
	}
}

.cartao--show{
	opacity: 1;
	transition:0.2s linear;
}